@tailwind base;
@tailwind components;
@tailwind utilities;

#logo {
    margin-top: -6px;
}

.visited{
    background-color: teal;
    transition: all 500ms;
    /* border: none; */
}

.v-grid {
    grid-template-columns: repeat(61, 1fr);
    border-top: 1px solid rgb(167 243 208);
    border-left: 1px solid rgb(167 243 208);
}


.v-grid > div {
    height: 25px;
    width: 25px;
}

@media screen and (max-width: 600px) {
    .v-grid {
    grid-template-columns: repeat(40, 1fr);
    }
    .v-grid > div {
        width: 15px;
        height: 15px;
    }
}
@media screen and (min-width: 601px) {
    .v-grid {
        grid-template-columns: repeat(40, 1fr);
    }

    /* .v-grid>div {
        width: 20px;
        height: 20px;
    } */

}

@media screen and (min-width: 1024px) {
    .v-grid {
            grid-template-columns: repeat(42, 1fr);
        }
}

@media screen and (min-width: 1020px) {
    .v-grid>div {
            width: 25px;
            height: 25px;
        }
}

@media screen and (min-width: 1280px) {
    .v-grid {
        grid-template-columns: repeat(62, 1fr);
    }
}

#modal {
    top: 15%;
}

#btn-img {
    max-width: 200px;
}

  #tutorial-one, #tutorial-two {
    animation: show 500ms linear;
        animation-fill-mode: forwards;
  }

 #tutorial-one.hidden,  #tutorial-two.hidden, #tutorial-three.hidden {
    animation: hide 500ms linear;
        animation-fill-mode: forwards;
 }

 @keyframes hide {
     0% {
         display: block;
         opacity: 1;
     }

     99% {
         display: block;
     }

     100% {
         display: none;
         opacity: 0;
     }
 }

 @keyframes show {
     0% {
         display: none;
         opacity: 0;
     }

     1% {
         display: block;
     }

     100% {
         display: block;
         opacity: 1;
     }
 }

.shaking {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-2px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(3px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-3px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(3px, 0, 0);
    }
}
